img {
  width: 100%;
  height: auto;
}

/* ヘッダー */
header .inner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
  background-color: #fff;
}

.ttl {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.header-nav {
  display: flex;
}

.header-nav li {
  margin-left: 20px;
}

.header-nav li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


/* メインページ */
/* トップ画面(home) */
.top-img {
  margin-top: 80px;
  width: 100%;
  height: 640px;
  background-image: url(../img-3/mv.png);
  background-size: cover;
  background-position: 60% 40%;
  display: flex;
  align-items: center;
  text-align: center;
}

.sentence-box {
  width: 850px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  font-weight: bold;
}

.main-ttl {
  margin-bottom: 20px;
  font-size: 50px;
}

.main-ttl-en {
  font-size: 18px;
}

/* 会社概要 */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  color: #fff;
  background-color: #333;
}

.intro-inner {
  width: 1210px;
}

.intro h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.intro p {
  line-height: 1.7;
}

/* サービス */
/* 社員ブログ */
.sub-ttl {
  margin-top: 100px;
  padding: 25px;
  font-size: 30px;
  color: #333;
  text-align: center;
}

.grid-wrap,
.blog-wrap {
  display: grid;
  gap: 20px;
  width: 85%;
  margin: 0 auto 20px;
}

.grid-wrap {
  grid-template-columns: repeat(2, 1fr);
}

.blog-wrap {
  grid-template-columns: repeat(3, 1fr);
}

.grid-box {
  line-height: 1.6;
}

.grid-box p,
.service-list-inner p {color: #333;}

.date { font-size: 14px; color: #333;}

.service-ttl,
.blog-ttl { 
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.list-btn {
  display: block;
  padding: 15px 0;
  margin: 30px auto 90px;
  width: 280px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #ad2c3b;
}

/* 会社概要ページへ */
.detail {
  display: block;
  height: 230px;
  line-height: 230px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #ad2c3b;
  margin-bottom: 80px;
}

/* お問い合わせ */
.access {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
  color: #333;
  background-color: #efefef;
}

.access-inner {
  text-align: center;
}
.access-inner h2 {
  padding: 5px 0 25px;
  font-size: 30px;
}

.access-inner input {
  display: block;
  padding: 10px 0;
  margin: 40px auto 0px;
  width: 300px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: #ad2c3b;
}

/* フッター */
.footer-inner {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 120px;
  align-items: center;
  font-size: 12px;
  background-color: #333;
}

.copy-right {
  color: #fff;
}

.footer-inner ul {
  display: flex;
}

.footer-inner ul li {
  list-style: none;
}

.footer-inner ul li:not(:first-child) {
  border-left: 1px solid #fff;
}

.footer-inner ul li a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

/* 共通トップ画面 */
.top-img-ttl {
  margin-top: 80px;
  height: 250px;
  line-height: 220px;
  text-align: center;
  background-image: url(../img-3/mv.png);
  background-size: cover;
  background-position: 50%;
}

.top-img-ttl h1 {
  font-size: 30px;
  color: #fff;
}

/* 事業内容ページ */
.service-container {
  padding: 90px 100px;
}

.service-list {
  display: flex;
  padding: 25px 0;
  line-height: 1.6;
  border-top: 1px solid #888;
}

.service-list:nth-child(4) {
  border-bottom: 1px solid #888;
}

.service-img {
  width: 300px;
  margin-right: 40px;
}

.service-list-ttl {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

/* ブログページ */
.blog-container,
.company-container {
  padding: 100px 0 80px;
}

/* 会社概要ページ */
.table-inner {
  width: 70%;
  margin: 0 auto;
  color: #333;
  
}

table {
  width: 100%;
}

table th,
table td {
  padding: 25px 0;
  border-top: 1px solid #888;
}

tr:last-child th,
tr:last-child td {
  border-bottom: 1px solid #888;
}

/* お問い合わせフォーム */
.modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  width: 50%;
  height: 80%;
  margin: 40px auto;
  padding: 40px 33px 60px 20px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.close-btn--top {
  position: absolute;
  width: 100%;
  height: 4px;
  border: 4px solid #333;
}

.modal-content h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  padding: 40px;
}

.modal-content p {
  line-height: 2.0;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  color: #999;
  margin-bottom: 15px;
}
textarea {
  height: 120px;
}

span {
  color: #ad2c3b;
}

.modal-content a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  color: white;
  background-color: #333;
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
}

/* レスポンシブ */
@media screen and (max-width:768px) {
  .header-nav li {
    font-size: 14px;
    margin-left: 10px;
  }

  .main-ttl {
    font-size: 35px;
  }

  .intro {
    padding: 40px;
  }

  .grid-wrap,
  .blog-wrap {
    display: flex;
    flex-direction: column;
  }

  .grid-box {
    margin-bottom: 30px;
  }

  .footer-inner {
    padding: 10px;
  }
  .footer-inner ul li a {
    margin: 0;
    padding: 0 5px;
  }

  .service-container {
    padding: 50px 50px;
  }

  .service-list {
    display: block;
  }

  .service-img {
    width: 100%;
  }
}